<launch>

  <include file="$(find offboard)/launch/single_vehicle_spawn.launch">
    <arg name="vehicle" value="iris_depth_camera" />
    <arg name="world" value="$(find offboard)/world/avoidance.world" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="uav"
    args="0.0 0.0 0 0.0 0.0 0.0 /world /autopilot_odom 40" />


  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find offboard)/config/rviz.config.rviz" />

</launch>